
.Rproj.user/407F5AE9/sources/prop/8CAD1F6C
.Rproj.user/407F5AE9/sources/prop/B0E474D5
.Rproj.user/407F5AE9/sources/prop/E9417F58
.Rproj.user/407F5AE9/sources/prop/INDEX
.Rproj.user/407F5AE9/sources/s-FDD11AC/71165B82
.Rproj.user/407F5AE9/sources/s-FDD11AC/71165B82-contents
.Rproj.user/407F5AE9/sources/s-FDD11AC/B0F08685
.Rproj.user/407F5AE9/sources/s-FDD11AC/B0F08685-contents
.Rproj.user/407F5AE9/sources/s-FDD11AC/D3E96CBA-contents
.Rproj.user/shared/notebooks/81E71A49-numeros-por-extenso/1/407F5AE9FDD11AC/chunks.json
.Rproj.user/shared/notebooks/81E71A49-numeros-por-extenso/1/s/chunks.json
.Rproj.user/shared/notebooks/9614F55-o-ranking-da-fifa-e-a-copa-do-mundo/1/s/chunks.json
.Rproj.user/shared/notebooks/paths
